body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

a {
  color: aquamarine;
  font-size: 16px;
}