body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  color: gray;
}